body {
  background-color: #24273a;
  color: #cad3f5;
  font-family: 'Open Sans';
}
.top {
  display: inline-block;
  margin-left: 10rem;
}
h1 {
  margin-left: 1rem;
}
.pfp {
  border-radius: 50%;
  padding: 1rem;
  float: none;
  transition: 0.3s;
  position: absolute

}
.pfp:hover {
  scale: 125%;
  transition: 0.3s;
}
p {
  margin-left: 1rem;
}
h3 {
  margin-top: 4rem;
}
.logo,
.logo2 {
  width: 2rem;
  float: left;
  position: relative;
  transition: 0.3s;
}
.logo:hover,
.logo2:hover {
  background-color: #b7bdf8;
  padding: 5px;
  scale: 125%;
  border-radius: 10px;
  transition: 0.3s;
}
.logo:hover {
  content: url(catpdiscordhover.png);
}
.logo2:hover {
  content: url(catpghover.png);
}
h4 {
  margin-left: 1rem;
}
.aboutbox {
  margin-left: 2rem;
}
a:link {
  color: #c6a0f6;
}
a:visited {
  color: #b7bdf8;
}
.buttons {
  margin-left: 1rem;
  height: 4rem;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.buttons .btn {
  width: 3rem;
  display: flex;
  
  justify-content: center;
}
